@font-face {    /* Demais navegadores */
  font-family: fontastique;
  src: url(../font/fontastic.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
  min-height: 490px;
  font-family: fontastique, 'Helvetica', 'Arial';
  background-color: #F8F8F8;
}
/* 
section {
  padding: 0 16px;
} */